{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3">Login</h1>

    {% include 'login/form.html.twig' %}
</div>
{% endblock %}
